# ==========================================
# 1. DEPENDENCIES & CACHE
# ==========================================
node_modules/
.npm/

# ==========================================
# 2. PRODUCTION BUILDS
# ==========================================
dist/
build/
out/

# ==========================================
# 3. ENVIRONMENT VARIABLES (Secrets)
# ==========================================
.env
.env.local
.env.development
.env.production

# ==========================================
# 4. OS & EDITOR FILES
# ==========================================
.vscode/
.DS_Store
Thumbs.db

config.js